.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: stretch;
    background-color: gray;
    padding: 10px;

}

.screen {
    min-width: 300px;
    min-height: 100px;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 15px;
    padding:5px;
}

* {
    box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

/* Style the header */
.header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
input {
    margin: 5px;
    border: none;
    border-radius: 15px;
    background-color: #f9f9f9;
    width: 75%;
    padding: 10px;
    font-size: 16px;
}

/* Style the "Add" button */
button {
    padding: 5px;
    margin:1px;
    width: 25%;
    background: floralwhite;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 15px;
}

button:hover {
    background-color: navajowhite;
}
.screenBox{
    text-align: center;
    background-color: beige;
    border-radius: 20px;
    margin: 20px;
    line-height: 2em;
    padding: 20px;
    min-width: 300px;
    max-width: 300px;
    min-height: 400px;
    max-height: 400px;
}
.screenLabelItem {
    color: black;
    font-size: 1em;
}

.screenLinkItem {
    font-size: 1em;
    color: deepskyblue;;
    text-underline: black;
    text-underline-style: single;
    cursor: pointer;
}

.screenButtonItem {
    font-size: 1em;
    background-color: saddlebrown;
    color:white;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    text-underline: black;
    text-underline-style: single;
    cursor: pointer;
}